@model TMC.DATA.TbRoles_TbPermisos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Registrar Permisos por Rol</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDRolPermiso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IDRolPermiso, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.IDRolPermiso, "Este campo es autogenerado por la Base de Datos", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDRol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*DropDown de los roles
                @Html.EditorFor(model => model.IDRol, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("ddlRoles", (IEnumerable<SelectListItem>)ViewBag.ddlRoles, new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.IDRol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDPermiso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*DropDown Permisos
                    @Html.EditorFor(model => model.IDPermiso, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("ddlPermisos", (IEnumerable<SelectListItem>)ViewBag.ddlPermisos, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.IDPermiso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" Regresar", "Search", null, new { @class = "fas fa-arrow-circle-left text-muted" })
</div>
<script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>