@model TMC.DATA.TbCatalogos_TbFotos

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información del Catalogo de Foto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCatalogoFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCatalogoFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCatalogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCatalogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDFoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Editar", "Edit", new { id = Model.IDCatalogoFoto }, new { @class = "fas fa-edit text-muted", @title = "Editar Permiso" }) |
    @Html.ActionLink(" Regresar", "Search", null, new { @class = "fas fa-arrow-circle-left text-muted" })
</p>
<script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>